body {font-family: Arial;}


.section-title {
  text-align: center;
  padding-bottom: 20px;
}

.section-title h2 {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #ccebff;
  color: blue;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px; 
}

.tabcontent {
    display: grid;
    margin:10px 80px;
    border-radius: 15px;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    font-family: "Raleway", sans-serif;
    background-color: #eeeeee;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.322);
    zoom:80%;
  }
  
/* Style the tab */
.tab {
  overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  margin: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 24px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(223, 220, 250);
}

/* Create an active/current tablink class */
.tab button.active {
    
  background-color: rgb(0, 4, 255);
  color: #fff;

}

/* Style the tab content */
  
  img {
    max-width: 100%;
    -webkit-filter: drop-shadow(1px 1px 3px #a6a6a6);
            filter: drop-shadow(1px 1px 3px #a6a6a6);
  }
  
  /* ----- Product Section ----- */
  .product {
    display: grid;
    grid-template-columns: 0.9fr 1fr; 
    color:black;
    margin:1.5% 2% 1.5% 8%;
    padding: 2em 1.5em;
    background-color:white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  /* ----- Photo Section ----- */
  .product__photo {
    position: relative;
    height:19em;
  }
  
  .photo-container {
    position: absolute;
    left: -2.5em;
    display: grid;
    grid-template-rows: 1fr;
    width: 90%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
  }
  
  .photo-main {
    border-radius: 6px 6px 0 0;
    background-color:#22208b;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(255, 255, 255);
  }
  
 
  .photo-main img {
    position: absolute;
    left: -2.8em;
    top: 2em;
    max-width: 100%;
    -webkit-filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
            filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
  }
  
  .photo-album {
    padding: 0.2em 0.4em;
    border-radius: 0 0 6px 6px;
    background-color: #22208b;
  }
  .photo-album ul {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .photo-album li {
    float: left;
    width: 100%;
    height: 100%;
    margin:1px;
    padding: 3px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    background-color: honeydew;
  }
  
  .photo-album li.active{
    border: 1.5px solid orangered;
}
  /* ----- Informations Section ----- */
  .product__info {
    padding: 0.8em 0;
  }
  
  .title h1 {
    margin-bottom: 0.1em;
    color:black;
    font-size: 1.8em;
    font-weight: 900;
  }
  
  
  .description {
    clear: left;
    margin: 2em 0.5em 2em 0em;
    font-size:1.4em;
  }
  
  .description .date{
      font-size: larger;
  }
  
  .buy--btn {
    padding: 0.9em 1.8em;
    border: none;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color:white;
    background-color: #22208b;
    box-shadow: 2px 2px 25px -7px #4c4c4c;
    cursor: pointer;
    float: bottom;
  }
  .buy--btn:active {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }

  @media only screen and (max-width: 450px) {
    .product {
      grid-template-columns: 1fr;
      margin:0px;
      min-width: auto;
    }

    .tabcontent{
        margin:5px 10px 5px 10px;
        grid-template-columns: 1fr;
    }

    .photo-container{
        left: 0px;
        width: 100%;
    }

    .photo-main img{
        left:0;
        right: 0;
        margin: auto;
    }

   /* .photo-album li{
        height:80%;
    }

    li>img{
        height:80%;
    }
*/
  }