.card-title{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: auto;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: small;

}

.card{
    -webkit-box-shadow: 2px 5px 11px -1px #ccebff;
box-shadow: 2px 5px 11px -1px #ccebff;
    margin: 10px 15px;
}

.section-title {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .section-title h2 {
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #ccebff;
    color: blue;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px; 
  }
  
  .section-title h3 {
    margin: 15px 0 0 0;
    font-size: 32px;
    font-weight: 700;
  }
  
  .section-title h3 span {
    color: #428bca;
  }
  
  .section-title p {
    margin: 15px auto 0 auto;
    font-weight: 500;
    color: #919191;
  }
  
  @media (min-width: 1024px) {
    .section-title p {
      width: 50%;
    }
  }