/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
    padding-top: 30px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    padding-bottom: 50px;

    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

#team .frontside .card-body p{
    text-transform: uppercase;
}

#team .frontside .card-text{
    color: red;

}

.backside .card-text{
    color: red;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.backside .card .card-title{
    vertical-align: middle;
    margin-top: 90px;
    font-size: xx-large;
}


.frontside .card{
    border: 6px ridge rgba(28,110,164,0.73);
    border-radius: 40px 0px 40px 0px;
}


.backside .card-social a{
    text-decoration: none;
    margin: 20px;
    font-size: large;

}
.backside .card-body{
    width:312px;
}

.backside .card-social a [class^='icofont-']{
    color: #428bca;
}

.backside .card-social a:hover [class^='icofont-']{
    color: #0d83eb;
}

@media (max-width:768px){
    .backside .card-social a {
        margin:10px;
    }
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 350px;
}

.backside .card a {
    font-size: 18px;
    color: black !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: black !important;
    font-family: monospace;
    align-items: center;
}


.frontside .card .card-body img {
    width: 80%;
    margin-top: 10px;
    border: 6px ridge rgba(39, 58, 230, 0.719);
    border-color: #0033cc;
    border-radius: 40px 0px 40px 0px;
    /* height: 120px; */
    /* border-radius: 50%; */
}

.frontside .card{
    border-color: #0033cc;
}

.backside{
    border: 6px ridge rgba(39, 58, 230, 0.719);
    border-color: #0033cc;
    border-radius: 40px 0px 40px 0px;
}

.noImage{
    border: 6px ridge rgba(39, 58, 230, 0.719);
    border-color: #0033cc;
    border-radius: 40px 0px 40px 0px;
    background: #ffffff;
    /* height: 350px; */
}
.noImage .card{
    border-radius: 40px 0px 40px 0px;
}

.noImage .card .card-title{
    vertical-align: middle;
    /* margin-top: 90px; */
    font-size: xx-large;
    color: black !important;
    font-family: monospace;
    align-items: center;
}

.noImage .card-text{
    color: red;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
}

.noImage .card-social a{
    text-decoration: none;
    margin: 20px;
    font-size: large;
}

.noImage .card-social a [class^='icofont-']{
    color: #428bca;
}

.noImage .card-social a:hover [class^='icofont-']{
    color: #0d83eb;
}

@media (max-width:768px){
    .noImage .card-social a {
        margin:10px;
    }
    .backside{
        width:305px;
    }

}



.grid-container {
    color: #030027;
    font-size: 1.4em;
    margin: 5px;
    padding: 5px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 75, 140, 1);
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    /* border: 1px solid #000; */
}

.grid-item div {
    height: auto;
}

.grid-item {
    padding: 5px;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.grid-item p {
    margin: 5px;
    padding: 5px;
}

#actionbody {
    width: 100% !important;
    height: auto;
}

.grid-item:nth-child(odd) {}

.grid-item:nth-child(even) {}

.grid-container {
    display: grid;
    grid-template-columns: 0.96fr 2fr;
    /* medida en ancho */
    grid-gap: 0.25rem;
}

span {
    cursor: pointer !important;
}

.member-contact span {
    color: red;
}

.member-contact a {
    color: rgba(1, 75, 140, 1);
}

.more-less {
    margin: 0 5px 0 5px;
    padding: 0;
    color: #ECEBE4;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 990px) {}

@media only screen and (max-width: 520px) {
    .grid-item {
        font-size:80%;
    }
    .member-contact {
        font-size: 80%;
    }
    .more-less {
        margin:0;
        size:80%;
    }
}

@media only screen and (max-width: 360px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 240px) {}

.tab-content>.container{
    zoom:90%;
}