html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.section-title {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
}

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eeeeee;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #fafafa;
  border-color: #eeeeee;
}

.panel-title {
  font-size: 14px;
}

.panel-body {
  background:rgba(1, 75, 140, 1);
  color:white;
  border-radius:3px;
  padding-bottom:5px;
  padding-top:5px;
  margin-bottom:5px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.panel-title > a {
  display: block;
  padding: 8px;
  color: #212121;
  text-decoration: none;
}

.more-less {
  float: right;
  color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eeeeee;
}

.map-container-google-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-google-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

iframe {
  border: 1px solid gray;
  border-radius: 3px;
}

form p {
  margin: 1% 2%;
  color: black;
}

textarea {
  margin: 1% 2%;
  padding: 5px;
  width: 95%;
}

input {
  margin: 1% 2%;
  padding: 5px;
  width: 95%;
}

.submit {
  cursor: pointer;
  background-color: blue;
  color: white;
  border-radius: 3px;
  border: 0;
  padding: 3px;
  font-weight: 450;
  min-width: 20%;
  height: auto;
}
