<!DOCTYPE html>
<html lang='en'>
    {% load static %}
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142291179-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-142291179-2');
        </script>

        <title>BloomBox, E-Cell KJSCE</title>
        <link rel="icon" type="image/ico" href="../media/images/basic/BloomBox, E-Cell KJSCE - Logo Small.png" />

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />

        <meta name="description"
        content="BloomBox, E-Cell KJSCE is the student run non-profit organization Entrepreneurship promoting body at K. J. Somaiya College of Engineering, Mumbai" />
        <meta name="google-site-verification" content="sfZdBesrUXPWwnmytZsgEymdT_Brz2EvjYQ36cPVM94" />
        <meta name="keywords"
            content="BloomBox, E-Cell, ecell, KJSCE, k j  somaiya college of engineering, entrepreneurship, edc, entrepreneurship development cell, entrepreneurship cell" />
        <meta name="robots" content="INDEX, FOLLOW" />
        <meta name="author" content="Team BloomBox" />
        <meta name="geo.region" content="IN" />
        <link rel="canonical" href="" />

        <!--CSS-->
        <link href="{% static 'styles/basic/preloader.css' %}" rel="stylesheet"/>
        <link href="{% static 'styles/basic/aos.css' %}" rel="stylesheet"  />
        <link href="{% static 'styles/basic/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/basic/icofont/icofont.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/basic/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'styles/basic/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{% static 'styles/css/indexpage.css' %}" rel="stylesheet">
        <link href="{% static 'styles/css/about.css' %}" rel="stylesheet">
    </head>

    <body onload="preloader();">



        <div class="wrapper-loader" id="loader" style="height:100vh;width:100%;">
            <span class="loader">
                <img src="../media/images/basic/BloomBox, E-Cell KJSCE - Logo Small.png" />
            </span>
        </div>

      <!-- ======= Header ======= -->
      <header id="header" class="d-flex align-items-center">
        <div class="container">
            <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
            <div class="logo d-block d-lg-none">
                <a href="{% url 'index' %}"><img src="../media/images/basic/BloomBox, E-Cell KJSCE - Logo Small.png" alt="" class="img-fluid"></a>
            </div>
            <nav class="nav-menu d-none d-lg-block">
                <ul class="nav-inner">
                    <li><a href="{% url 'index' %}">Home<i class="icofont-home"></i></a></li>
                    <li><a href="{% url 'campus' %}">Campus Company<i class="icofont-company"></i></a></li>
                    <li><a href="{% url 'events' %}">Events<i class="icofont-brand-slideshare"></i></a></li>
                    <li><a href="{% url 'index' %}"><img style="height:40px;width:40px;" src="../media/images/basic/BloomBox, E-Cell KJSCE - Logo Small.png" alt="" class="img-fluid"></a> </li>
                    <li><a href="{% url 'partners' %}">Partners<i class="icofont-handshake-deal"></i></a></li>
                    <li><a href="{% url 'team' %}">Team Members<i class="icofont-people"></i></a></li>
                    <li class="active"><a href="{% url 'about' %}">About<i class="icofont-question"></i></a></li>
                </ul>
            </nav>
        <!--nav-menu -->
        </div>
    </header>
    <!-- End Header -->
    <br>

        <div class="container" id="aboutus" data-aos="fade-up">
            <div class="section-title" data-aos="fade-up">
                <h2>About Us</h2>
                <p>A brief about Bloombox and what we do</p>
              </div>
            <div class="row container text-left">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="contents-about">
                        <p class="text-justify text-left">
                            <b>BloomBox</b> is the <b>Not-for-profit Student run Entrepreneurship Cell</b> of <b><a
                                    href="https://kjsce.somaiya.edu/kjsce/?/kjsce/" target="_blank">K. J. Somaiya College of
                                    Engineering</a></b>. It was <b>Founded in December 2011</b> with a mission to provide an
                            experiential learning platform for students by acquainting them with the knowledge for
                            enterprise building. We believe that engineers
                            harbour a latent potential to be the employment generators of tomorrow, pioneering technological
                            and economic growth of the country.
                        </p>
                        <p>
                            BloomBox is intended as a platform to motivate and educate students about entrepreneurship and
                            encourage them to flesh out their ideas in business terms and form global enterprises that
                            combine technology, vision and business acumen. Our aim is to channelize
                            our efforts towards spreading knowledge and inculcating enthusiasm amongst the students by
                            altering their perspective of business in a manner that they shall cherish and shall remain
                            etched in their memory.
                        </p>
                        <p class="text-justify text-left">
                            BloomBox has <i>3 primary focus areas</i>: -
                            <p>
                                1. <u>Core Business</u> - Idea generation, how technology helps solve problems, how banks
                                work, micro-finance, stock exchange venture capital and private equity, preparing financial
                                projections.
                            </p>
                            <p>
                                2. <u>Intellectual Property</u> - Why is intellectual property important in today's business
                                scenario, how to conduct a prior art search, drafting documents and technology licensing.
                            </p>
                            <p>
                                3. <u>Allied Topics</u> - Entrepreneurs forum, Business Case Studies and Social
                                Entrepreneurship.
                            </p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="https://kjsce.somaiya.edu/en/students-association"
                    target="_blank"><button  type="button" class="btn btn-seemore ">See More</button></a>
            </div>
        </div>
        </div>

        <div class="container">
            <hr class="bg-dark">
        </div>

        <div class="container demo" id="FAQ" data-aos="fade-up" data-aos-delay="300">
            <div class="section-title" data-aos="fade-up">
                <h2>Frequently Asked Questions</h2>
                
              </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="text-left" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="more-less fas fa-plus"></i> What support does BloomBox provide to campus companies
                                ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            BloomBox helps the campus companies by guiding them, connecting them with industry experts for
                            mentorship, investment and incubation and also helps with permissions for any college
                            infrastructure if required.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed text-left" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="more-less fas fa-plus"></i> How does BloomBox incubate ideas ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            BloomBox itself does not provide incubation but has associations with incubation centers in
                            Mumbai to provide incubation to Campus Company.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed text-left" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <i class="more-less fas fa-plus"></i> Does BloomBox help student startups from college other
                                than KJSCE ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            BloomBox helps startups from other colleges in the form of mentorship and networking. But
                            startups from colleges other than KJSCE are not allowed to do any sort of promotion inside KJSCE
                            campus without prior permission from BloomBox.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed text-left" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <i class="more-less fas fa-plus"></i> Does BloomBox take control of the student campus
                                companies ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            BloomBox is a non-profit student organization. So, BloomBox doesn't take any form of control or
                            monetary share of the startup. The company completely owns all the legal rights of its own.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed text-left" role="button" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <i class="more-less fas fa-plus"></i> Does BloomBox provide financial support to Campus
                                Company ?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                        <div class="panel-body">
                            BloomBox doesn't provide any sort of financial support to campus companies. The campus companies
                            are connected with BloomBox partners for financial support.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <hr class="bg-dark">
        </div>

        <div class="container" id="contact" data-aos="fade-up">
            <section class="section pb-5">
                <div class="section-title" data-aos="fade-up">
                    <h2>Contact Us</h2>
                    <p>Reach Out To Us!</p>
                  </div>
                <div class="row">
                    <div class="col-lg-7 py-2">
                        <div class="h4" id="reachus">Reach Us</div>
                        <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height:400px">
                            <iframe width="100%" height="100%"
                                src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=BloomBox%2C%20E-Cell%20KJSCE+(BloomBox%2C%20E-Cell%20KJSCE)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-5 py-2">
                        <div class="h4" id="messageus">Write to us</div>
                        <div class="card">
                            <form action="/about" method="POST" style="width:100%;height:400px;">
                                {% csrf_token %}
                                <div>
                                    <p>Name</p>
                                    <input class="col2 first" type="text" id="name" name="name" placeholder="Your name">
                                </div>
                                <div>
                                    <p>Email</p>
                                    <input class="col2 first" type="text" id="email" name="email" placeholder="Your email">
                                </div>
                                <div>
                                    <p>Contact Number</p>
                                    <input class="col2 first" type="number" id="number" name="number" placeholder="Your contact no.">
                                </div>
                                <div>
                                    <p>Message</p>
                                    <textarea name="textarea" id="textarea" placeholder="Your message here..." height="50"></textarea>
                                </div>
                                <div class="text-center">
                                    <button  type="submit" class="btn btn-seemore" style="padding: 10px;">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>


   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index' %}">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i><a href="{% url 'campus' %}">Campus Company</a></li>
                                <li><i class="bx bx-chevron-right"></i><a href="{% url 'events' %}">Events</a></li>
                                <li><i class="bx bx-chevron-right"></i><a href="{% url 'partners' %}">Partners</a></li>
                                <li><i class="bx bx-chevron-right"></i><a href="{% url 'team' %}">Team</a></li>
                                <li><i class="bx bx-chevron-right"></i><a href="{% url 'about' %}">About</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 footer-contact">
                            <h4>Contact Us</h4>
                            <p>
                                KJ Somaiya College of Engineering<br>Vidyanagar, Vidyavihar<br> Mumbai, India
                                <br><br>
                                <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
                                <strong>Email:</strong><a href="mailto:bloombox.kjsce@somaiya.edu"> bloombox.kjsce@somaiya.edu</a>
                                <br>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 footer-info">
                            <h3>Follow Us</h3>
                            <div class="social-links mt-3">
                                <a href="https://twitter.com/bloombox_kjsce" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="https://www.facebook.com/bloomboxkjsce/" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/bloombox_kjsce/" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/bloombox-e-cell-kjsce" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="credits">
            Designed by<a href="#"> BloomBox, E-Cell KJSCE</a>
        </div>
    </div>
</footer>
<!-- End Footer -->

      
      <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


        <!-- Preloader -->
      <script src="{% static 'scripts/script/preloader.js' %}"></script>
      <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
      <script src="https://kit.fontawesome.com/be4c1851d0.js"></script>
      
      <!-- Vendor JS Files -->
      <script src="{% static 'scripts/basic/jquery.min.js' %}"></script>
      <script src="{% static 'scripts/basic/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'scripts/basic/jquery.easing.min.js' %}"></script>
      <script src="{% static 'scripts/basic/validate.js' %}"></script>
      <script src="{% static 'scripts/basic/venobox.min.js' %}"></script>
      <script src="{% static 'scripts/basic/jquery.waypoints.min.js' %}"></script>
      <script src="{% static 'scripts/basic/counterup.min.js' %}"></script>
      <script src="{% static 'scripts/basic/isotope.pkgd.min.js' %}"></script>
      <script src="{% static 'scripts/basic/owl.carousel.min.js' %}"></script>
      <script src="{% static 'scripts/basic/jquery.sticky.js' %}"></script>
      <script src="{% static 'scripts/basic/aos.js' %}"></script>

      <!-- Template Main JS File -->
      <script src="{% static 'scripts/script/main-index.js' %}"></script>
      <script src="{% static 'scripts/script/about.js' %}"></script>


        
</body>
</html>