 <!-- ======= Portfolio Section ======= -->
 <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <h3>Check our <span>Portfolio</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-ini">Initiatives</li>
            <li data-filter=".filter-event">Events</li>
            <li data-filter=".filter-cc">Campus Company</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container justify-content-center">

        <div class="col-xl-10">
          <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-ini">
              <div class="portfolio-wrap">
                <img src="media/images/home/Startup Talks.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="media/images/home/Startup Talks.jpeg" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-ini">
              <div class="portfolio-wrap">
                <img src="media/images/home/Campus Company.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="media/images/home/Campus Company.jpeg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-ini">
              <div class="portfolio-wrap">
                <img src="media/images/home/Hackathon.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 2</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="media/images/home/Hackathon.jpeg" data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-ini">
              <div class="portfolio-wrap">
                <img src="media/images/home/Startup Industry Visits.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 2</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="media/images/home/Startup Industry Visits.jpeg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-ini">
              <div class="portfolio-wrap">
                <img src="media/images/home/Startup Workshop.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 2</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="media/images/home/Startup Workshop.jpeg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-event">
              <div class="portfolio-wrap">
                <img src="media/images/events/B-Plan/img1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 3</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="media/images/events/B-Plan/img1.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-event">
              <div class="portfolio-wrap">
                <img src="media/images/events/Ennovate/Ennovate_02.jpeg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 1</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="media/images/events/Ennovate/Ennovate_02.jpeg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-event">
              <div class="portfolio-wrap">
                <img src="media/images/events/HackIoT/img1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 3</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="media/images/events/HackIoT/img1.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-event">
              <div class="portfolio-wrap">
                <img src="media/images/events/Speaker Session/Aditya Save/IMG_20190828_174711.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="media/images/events/Speaker Session/Aditya Save/IMG_20190828_174711.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div><!-- End portfolio item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-event">
                <div class="portfolio-wrap">
                  <img src="media/images/events/Speaker Session/Long March to Enterprenuership/img1.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="media/images/events/Speaker Session/Long March to Enterprenuership/img1.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End portfolio item -->


              <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-cc">
                <div class="portfolio-wrap">
                  <img src="media/images/campus-company/cc-logos/Branding Catalyst.jpeg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="media/images/campus-company/cc-logos/Branding Catalyst.jpeg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End portfolio item -->

              <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-cc">
                <div class="portfolio-wrap">
                  <img src="media/images/campus-company/cc-logos/G3.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="media/images/campus-company/cc-logos/G3.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End portfolio item -->

              <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-cc">
                <div class="portfolio-wrap">
                  <img src="media/images/campus-company/cc-logos/Nurturing Lives.jpg" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>Web 3</h4>
                    <p>Web</p>
                    <div class="portfolio-links">
                      <a href="media/images/campus-company/cc-logos/Nurturing Lives.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                      <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div><!-- End portfolio item -->

          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->





  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-10 d-flex align-items-center justify-content-end">

        <!-- <h1 class="logo mr-auto"><a href="index.html">Hidayah</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="index.html" class="logo mr-auto"><img src="media/images/BloomBox, E-Cell KJSCE - Logo.png" alt="" class="img-fluid"></a>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#about">Campus Company</a></li>
            <li><a href="#services">Events</a></li>
            <li><a href="#portfolio">Partners</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="blog.html">About</a></li>
            <li class="drop-down"><a href="">Registration</a>
                <ul>
                <li><a href="#">Event 1</a></li>
                <li><a href="#">Event 2</a></li>
                <li><a href="#">Event 3</a></li>
                <li><a href="#">Event 4</a></li>
                <li class="drop-down"><a href="#">Upcoming Events</a>
                    <ul>
                    <li><a href="#">Event 1</a></li>
                    <li><a href="#">Event 2</a></li>
                    <li><a href="#">Event 3</a></li>
                    <li><a href="#">Event 4</a></li>
                    <li><a href="#">Event 5</a></li>
                    </ul>
                </li>
                </ul>
            </li>
            <li><a href="#contact">Contact</a></li>

            </ul>
        </nav><!-- .nav-menu -->

        </div>
    </div>
    </div>
</header>
<!-- End Header -->




/* Desktop Navigation */
.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > ul {
    display: flex;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    transition: 0.3s;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #5697d0;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    color: #193c5a;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #428bca;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 16px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #394047;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #428bca;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(34, 39, 43, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }




          <!-- ======= Hero Section ======= -->
          <section id="hero">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        
            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        
            <div class="carousel-inner" role="listbox">
        
                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url(./media/images/home/home-background-5.jpeg)">
                <div class="carousel-container">
                    <div class="container">
                    <h2 class="animated fadeInDown"><span>Bloombox, Entrepreneurship Cell</span></h2>
                    <p class="animated fadeInUp">Innovate Today To Lead Tommorow</p>
                    <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a> 
                    </div>
                </div>
                </div>
        
                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url(./media/images/BloomBox, E-Cell KJSCE - RedBull Basement Program - Business Model Workshop)">
                <div class="carousel-container">
                    <div class="container">
                    <h2 class="animated fadeInDown">Lorem Ipsum Dolor</h2>
                    <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                    <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
                    </div>
                </div>
                </div>
        
                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url(./media/images/BloomBox, E-Cell KJSCE - Dhairya Pujara - Speaker Session.jpg)">
                <div class="carousel-container">
                    <div class="container">
                    <h2 class="animated fadeInDown">Sequi ea ut et est quaerat</h2>
                    <p class="animated fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
                    <a href="#about" class="btn-get-started animated fadeInUp scrollto">Read More</a>
                    </div>
                </div>
                </div>
        
            </div>
        
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
        
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        
            </div>
        </section>
          <!-- End Hero -->

          /* #header {
            transition: all 0.5s;
            z-index: 997;
            padding: 15px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
          }
          
          #header.header-scrolled, #header.header-inner-pages {
            background: rgba(23, 26, 29, 0.8);
          }
          
          #header .logo {
            font-size: 30px;
            margin: 0;
            padding: 0;
            line-height: 1;
            font-weight: 600;
            letter-spacing: 1px;
            font-family: "Poppins", sans-serif;
          }
          
          #header .logo a {
            color: #fff;
          }
          
          #header .logo img {
            max-height: 40px;
          }
          
          @media (max-width: 992px) {
            #header {
              border: 0;
            }
          } */

          

          /* #hero {
            width: 100%;
            height: 100vh;
            background-color: rgba(34, 39, 43, 0.8);
            overflow: hidden;
            position: relative;
          }
          
          #hero .carousel, #hero .carousel-inner, #hero .carousel-item, #hero .carousel-item::before {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
          }
          
          #hero .carousel-item::before {
            content: '';
            background-color: rgba(12, 13, 14, 0.8);
          }
          
          #hero .carousel-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 0;
            top: 70px;
            left: 50px;
            right: 50px;
          }
          
          #hero .container {
            text-align: center;
          }
          
          #hero h2 {
            color: #fff;
            margin-bottom: 20px;
            font-size: 48px;
            font-weight: 700;
          }
          
          #hero p {
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
            margin: 0 auto 30px auto;
            color: #fff;
          }
          
          #hero .carousel-inner .carousel-item {
            transition-property: opacity;
            background-position: center top;
          }
          
          #hero .carousel-inner .carousel-item,
          #hero .carousel-inner .active.carousel-item-left,
          #hero .carousel-inner .active.carousel-item-right {
            opacity: 0;
          }
          
          #hero .carousel-inner .active,
          #hero .carousel-inner .carousel-item-next.carousel-item-left,
          #hero .carousel-inner .carousel-item-prev.carousel-item-right {
            opacity: 1;
            transition: 0.5s;
          }
          
          #hero .carousel-inner .carousel-item-next,
          #hero .carousel-inner .carousel-item-prev,
          #hero .carousel-inner .active.carousel-item-left,
          #hero .carousel-inner .active.carousel-item-right {
            left: 0;
            transform: translate3d(0, 0, 0);
          }
          
          #hero .carousel-control-prev, #hero .carousel-control-next {
            width: 10%;
          }
          
          #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
            background: none;
            font-size: 36px;
            line-height: 1;
            width: auto;
            height: auto;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 50px;
            padding: 10px;
            transition: 0.3s;
            color: rgba(255, 255, 255, 0.5);
          }
          
          #hero .carousel-control-next-icon:hover, #hero .carousel-control-prev-icon:hover {
            background: rgba(255, 255, 255, 0.3);
            color: rgba(255, 255, 255, 0.8);
          }
          
          #hero .carousel-indicators li {
            cursor: pointer;
            background: #fff;
            overflow: hidden;
            border: 0;
            width: 12px;
            height: 12px;
            border-radius: 50px;
            opacity: .6;
            transition: 0.3s;
          }
          
          #hero .carousel-indicators li.active {
            opacity: 1;
            background: #428bca;
          }
          
          #hero .btn-get-started {
            font-family: "Raleway", sans-serif;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 1px;
            display: inline-block;
            padding: 14px 32px;
            border-radius: 4px;
            transition: 0.5s;
            line-height: 1;
            color: #fff;
            -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
            background: #428bca;
          }
          
          #hero .btn-get-started:hover {
            background: #5697d0;
          }
          
          @media (max-width: 768px) {
            #hero h2 {
              font-size: 28px;
            }
          }
          
          @media (min-width: 1024px) {
            #hero .carousel-control-prev, #hero .carousel-control-next {
              width: 5%;
            }
          }
          
          @media (max-height: 500px) {
            #hero {
              height: 120vh;
            }
          } */

          




          /**
* Template Name: Techie - v2.0.0
* Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/
!(function($) {
  "use strict";

  // Preloader
  $(window).on('load', function() {
    if ($('#preloader').length) {
      $('#preloader').delay(100).fadeOut('slow', function() {
        $(this).remove();
      });
    }
  });

  // Smooth scroll for the navigation menu and links with .scrollto classes
  $(document).on('click', '.nav-menu a, .mobile-nav a, .scrollto', function(e) {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      e.preventDefault();
      var target = $(this.hash);
      if (target.length) {

        var scrollto = target.offset().top;
        var scrolled = 20;

        if ($('#header').length) {
          scrollto -= $('#header').outerHeight()

          if (!$('#header').hasClass('header-scrolled')) {
            scrollto += scrolled;
          }
        }

        if ($(this).attr("href") == '#header') {
          scrollto = 0;
        }

        $('html, body').animate({
          scrollTop: scrollto
        }, 1500, 'easeInOutExpo');

        if ($(this).parents('.nav-menu, .mobile-nav').length) {
          $('.nav-menu .active, .mobile-nav .active').removeClass('active');
          $(this).closest('li').addClass('active');
        }

        if ($('body').hasClass('mobile-nav-active')) {
          $('body').removeClass('mobile-nav-active');
          $('.mobile-nav-toggle i').toggleClass('icofont-navigation-menu icofont-close');
          $('.mobile-nav-overly').fadeOut();
        }
        return false;
      }
    }
  });

  // Mobile Navigation
  if ($('.nav-menu').length) {
    var $mobile_nav = $('.nav-menu').clone().prop({
      class: 'mobile-nav d-lg-none'
    });
    $('body').append($mobile_nav);
    $('body').prepend('<button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>');
    $('body').append('<div class="mobile-nav-overly"></div>');

    $(document).on('click', '.mobile-nav-toggle', function(e) {
      $('body').toggleClass('mobile-nav-active');
      $('.mobile-nav-toggle i').toggleClass('icofont-navigation-menu icofont-close');
      $('.mobile-nav-overly').toggle();
    });

    $(document).on('click', '.mobile-nav .drop-down > a', function(e) {
      e.preventDefault();
      $(this).next().slideToggle(300);
      $(this).parent().toggleClass('active');
    });

    $(document).click(function(e) {
      var container = $(".mobile-nav, .mobile-nav-toggle");
      if (!container.is(e.target) && container.has(e.target).length === 0) {
        if ($('body').hasClass('mobile-nav-active')) {
          $('body').removeClass('mobile-nav-active');
          $('.mobile-nav-toggle i').toggleClass('icofont-navigation-menu icofont-close');
          $('.mobile-nav-overly').fadeOut();
        }
      }
    });
  } else if ($(".mobile-nav, .mobile-nav-toggle").length) {
    $(".mobile-nav, .mobile-nav-toggle").hide();
  }

  // Navigation active state on scroll
  var nav_sections = $('section');
  var main_nav = $('.nav-menu, #mobile-nav');

  $(window).on('scroll', function() {
    var cur_pos = $(this).scrollTop() + 90;

    nav_sections.each(function() {
      var top = $(this).offset().top,
        bottom = top + $(this).outerHeight();

      if (cur_pos >= top && cur_pos <= bottom) {
        if (cur_pos <= bottom) {
          main_nav.find('li').removeClass('active');
        }
        main_nav.find('a[href="#' + $(this).attr('id') + '"]').parent('li').addClass('active');
      }
      if (cur_pos < 300) {
        $(".nav-menu ul:first li:first").addClass('active');
      }
    });
  });

  // Toggle .header-scrolled class to #header when page is scrolled
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('#header').addClass('header-scrolled');
    } else {
      $('#header').removeClass('header-scrolled');
    }
  });

  if ($(window).scrollTop() > 100) {
    $('#header').addClass('header-scrolled');
  }

    // Stick the header at top on scroll
    $("#header").sticky({
      topSpacing: 0,
      zIndex: '50'
    });
  // Back to top button
  $(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
      $('.back-to-top').fadeIn('slow');
    } else {
      $('.back-to-top').fadeOut('slow');
    }
  });

  $('.back-to-top').click(function() {
    $('html, body').animate({
      scrollTop: 0
    }, 1500, 'easeInOutExpo');
    return false;
  });

  // jQuery counterUp
  $('[data-toggle="counter-up"]').counterUp({
    delay: 10,
    time: 1000
  });

  // quotes carousel (uses the Owl Carousel library)
  $(".quotes-carousel").owlCarousel({
    autoplay: true,
    dots: true,
    loop: true,
    items: 1
  });



  // Porfolio isotope and filter
  $(window).on('load', function() {
    var portfolioIsotope = $('.portfolio-container').isotope({
      itemSelector: '.portfolio-item'
    });

    $('#portfolio-flters li').on('click', function() {
      $("#portfolio-flters li").removeClass('filter-active');
      $(this).addClass('filter-active');

      portfolioIsotope.isotope({
        filter: $(this).data('filter')
      });
      aos_init();
    });

    // Initiate venobox (lightbox feature used in portofilo)
    $(document).ready(function() {
      $('.venobox').venobox();
    });
  });

  // Portfolio details carousel
  $(".portfolio-details-carousel").owlCarousel({
    autoplay: true,
    dots: true,
    loop: true,
    items: 1
  });

  // Initi AOS
  function aos_init() {
    AOS.init({
      duration: 1000,
      once: true
    });
  }
  aos_init();

})(jQuery);



-------------------------------------------------
<div class='container'>
  <ul class='nav nav-pills nav-justified' role="tablist">
      <li class='nav-item'><a class='nav-link active' data-toggle="tab" href='#tab1'>2020-21</a></li>
      <li class='nav-item'><a class='nav-link' data-toggle="tab" href='#tab2'>2019-20</a></li>
      <li class='nav-item'><a class='nav-link' data-toggle="tab" href='#tab3'>2018-19</a></li>
      <li class='nav-item'><a class='nav-link' data-toggle="tab" href='#tab4'>2017-18</a></li>
  </ul>
</div>


  <section id="team" class="pb-5">
      <div class='tab-pane container active' id='tab1'>
      <div class='tab-content'>
          <div class='tab-pane container  active' id='tab1'>
              <div class='row'>
                  
                      <!-- Team member -->
                      <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="media/images/teams/2019-20/Krunal.jpeg" alt="card image"></p>
                                          <h4 class="card-title">Krunal Dattani</h4>
                                          <p class="card-text">Chairperson</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">Krunal Dattani</h4>
                                          <div class="card-text">
                                              <i class="icofont-quote-left"></i>This is basic card with image on top, title, description and button.This is
                                              basic card with image on top, title, description and button.This is basic card
                                              with image on top, title, description and button.<i class="icofont-quote-right"></i>
                                          </div>
                                          <div class='card-social'>
                                              <a href=""><i class="icofont-email"></i></a>
                                              <a href=""><i class="icofont-linkedin"></i></a>
                                              <a href=""><i class="icofont-facebook"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
              </div>
          </div>

      </div>
      
  </div>    
  </section>
  




      
  <!-- Team -->
  <div class='tab-pane container fade' id='tab2'>
      <section id="team" class="pb-5">
          <div class='tab-content'>
              <div class='tab-pane container  active' id='tab1'>
                  <div class='row'>
                      
                          <!-- Team member -->
                          <div class="col-xs-12 col-sm-6 col-md-4">
                          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                              <div class="mainflip">
                                  <div class="frontside">
                                      <div class="card">
                                          <div class="card-body text-center">
                                              <p><img class=" img-fluid" src="media/images/teams/2019-20/Vartika.jpeg" alt="card image"></p>
                                              <h4 class="card-title">Krunal Dattani</h4>
                                              <p class="card-text">Chairperson</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="backside">
                                      <div class="card">
                                          <div class="card-body text-center mt-4">
                                              <h4 class="card-title">Krunal Dattani</h4>
                                              <div class="card-text">
                                                  <i class="icofont-quote-left"></i>This is basic card with image on top, title, description and button.This is
                                                  basic card with image on top, title, description and button.This is basic card
                                                  with image on top, title, description and button.<i class="icofont-quote-right"></i>
                                              </div>
                                              <div class='card-social'>
                                                  <a href=""><i class="icofont-email"></i></a>
                                                  <a href=""><i class="icofont-linkedin"></i></a>
                                                  <a href=""><i class="icofont-facebook"></i></a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          </div>
                  </div>
              </div>

          </div>

      </section>
  </div>
  <div class='tab-pane container fade' id='tab3'>PQR</div>
  <div class='tab-pane container fade' id='tab4'>UVW</div>
        




<!-- <li class="drop-down">
    <a href="">Registration<i class="icofont-paper"></i></a>
    <ul>
        <h5 class="dropdown-header">Active Events</h5>
        <li><a href="#">Event 1</a></li>
        <li><a href="#">Event 2</a></li>
        <li><a href="#">Event 3</a></li>
        <li><a href="#">Event 4</a></li>
        <h5 class="dropdown-header">Recent Events</h5>
        <li><a href="#">Event 1</a></li>
        <li><a href="#">Event 2</a></li>
        <li><a href="#">Event 3</a></li>
        <li><a href="#">Event 4</a></li>
        <li><a href="#">Event 5</a></li>
    </ul>
</li> -->


       <!-- <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our campComp</h4>
                    <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                  </div> -->



<!-- Team members -->
{% for member in team20 %}
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        {% if member.image %}
                        <p>
                            <img class=" img-fluid"
                                src="{{member.image.url}}"
                                alt="card image">
                        </p>
                        {% endif %}
                        <h4 class="card-title">{{member.name}}</h4>
                        <p class="card-text">{{member.post}}</p>
                    </div>
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body text-center mt-4">
                        <h4 class="card-title">{{member.name}}</h4>
                        <p class="card-text">{{member.post}}</p>
                        <div class="card-social">
                            <a href="{{member.email}}">
                                <i class="icofont-email icofont-2x"></i>
                            </a>
                            <a href="{{member.linkedin}}">
                                <i class="icofont-linkedin icofont-2x"></i>
                            </a>
                            <a href="{{member.facebook}}">
                                <i class="icofont-facebook icofont-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--End Team Member-->

</div>
</div>
</section>
</div>
<!--2019-20-->
<div id="tab2" class="container tab-pane">
<br>
<section id="team" class="pb-5">
<div class="container">
<div class="row">
<!-- Team members -->
{% for member in team19 %}
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        {% if member.image %}
                        <p>
                            <img class=" img-fluid"
                                src="{{member.image.url}}"
                                alt="card image">
                        </p>
                        {% endif %}
                        <h4 class="card-title">{{member.name}}</h4>
                        <p class="card-text">{{member.post}}</p>
                    </div>
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body text-center mt-4">
                        <h4 class="card-title">{{member.name}}</h4>
                        <p class="card-text">{{member.post}}</p>
                        <div class="card-social">
                            <a href="{{member.email}}">
                                <i class="icofont-email icofont-2x"></i>
                            </a>
                            <a href="{{member.linkedin}}">
                                <i class="icofont-linkedin icofont-2x"></i>
                            </a>
                            <a href="{{member.facebook}}">
                                <i class="icofont-facebook icofont-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--End Team Member-->



<!--2020-21 -->
<div id="tab1" class="container tab-pane active">
  <br>
  <section id="team" class="pb-5">
      <div class="container">
          <div class="row">
              <!-- Team members -->
              {% for member in team20 %}
              <div class="col-xs-12 col-sm-6 col-md-4">
                  <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                      <div class="mainflip">
                          <div class="frontside">
                              <div class="card">
                                  <div class="card-body text-center">
                                      {% if member.image %}
                                      <p>
                                          <img class=" img-fluid"
                                              src="{{member.image.url}}"
                                              alt="card image">
                                      </p>
                                      {% endif %}
                                      <h4 class="card-title">{{member.name}}</h4>
                                      <p class="card-text">{{member.post}}</p>
                                  </div>
                              </div>
                          </div>
                          <div class="backside">
                              <div class="card">
                                  <div class="card-body text-center mt-4">
                                      <h4 class="card-title">{{member.name}}</h4>
                                      <p class="card-text">{{member.post}}</p>
                                      <div class="card-social">
                                          <a href="{{member.email}}">
                                              <i class="icofont-email icofont-2x"></i>
                                          </a>
                                          <a href="{{member.linkedin}}">
                                              <i class="icofont-linkedin icofont-2x"></i>
                                          </a>
                                          <a href="{{member.facebook}}">
                                              <i class="icofont-facebook icofont-2x"></i>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
              <!--End Team Member-->