
  
img {
  max-width: 100%;
  /* -webkit-filter: drop-shadow(1px 1px 3px #a6a6a6);
  filter: drop-shadow(1px 1px 3px #a6a6a6); */
}

.btn-seemore{
  font-family: sans-serif;
  background-color: #ccebff;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 1px;
  /*  display: inline-block; */
  padding: 10px 10px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin-top: 10px;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.btn-seemore:hover {
  background: #0099ff;
}

.event-content{
  background-color:white;
  margin:1.5% 2% 1.5% 9%;
  padding: 2em 1.5em;
  color:black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  min-width: 300px; /* these two can be adjusted if boxes are getting generated of different sizes */                
  min-height: 365px;
}

.event-photo{
    position:relative;
    height:16.5em;
    width:246px;  
}

.event-photo-container{
    position: absolute;
    left: -2.5em;
    background-color:#22208b;
    color:black;
    width: 90%;
    height: 85%;
    border-radius: 6px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.event-photo-main{
    height:80%;
    border-radius: 6px 6px 0 0;
    background-color:#22208b;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.event-photo-main img {
    position: absolute;
    left: -2.8em;
    top: 2em;
    max-width: 100%;
    -webkit-filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
}


.event-photo-album {
    margin:0;
    padding: 5px 5px;
    border-radius: 0 0 6px 6px;
    background-color: #22208b;
}

.event-photo-album ul {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    padding:0px;
    margin-bottom: 0px;
}

.event-photo-album li {
    /* float: left; */
    width: 100%;
    height: 100%;
    margin:0 1px;
    padding: 3px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    background-color: honeydew;
    list-style-type: none;
}

.event-photo-album li img{
    width:100%;
}

.event-photo-album li.active{
    border: 1.5px solid orangered;
}

.event-title{
    margin-top: 5px;
}
  
.event-title h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.event-info{
  text-align: center;
}
  
.event-info .description {
    margin: 1em 0.5em 1em 0em; 
    font-size: small;
}

.event-info .description .desc-content{
    max-height: fit-content;
    margin-bottom:10px;
}
  
.event-info  .description .date{
      font-size:small;
      margin:0;
      padding:0;
  }

.tab-content {
  margin-top:30px;
  margin-bottom: 30px;
  border-radius: 15px;
  padding: 50px 0;
  font-family: "Raleway", sans-serif;
  background-color: #eeeeee;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.322);
}


@media (max-width:768px){

  .event-content{
    margin:1.5% 1% 1.5% 1%;
  }
  .event-info .description{
    /* font-size: inherit; */
    margin:0;
    padding:0;
  }
  .event-info .event-title{
    margin-top:30px;
  }

.event-photo{
    margin: 0 auto;
    padding: 0  auto;
}

.event-photo-container{
  left:0;
  width:100%;
  height:100%;
}
  .event-photo-main img{
      left:0;
      right:0;
      margin:auto;
  }
  .img{
    align-self: center;
  }



}
